@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

#outlook a {
        padding: 0;
}

body {
        margin: 0;
        padding: 10px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

table,td {
        border-collapse: collapse;
}

img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
}

p {
        display: block;
        margin: 13px 0;
}

@media only screen and (min-width:480px) {
        .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
        }

        .mj-column-px-300 {
                width: 300px !important;
                max-width: 300px;
        }
        .moz-text-html .mj-column-per-100 {
                width: 100% !important;
                max-width: 100%;
        }

        .moz-text-html .mj-column-px-300 {
                width: 300px !important;
                max-width: 300px;
        }
}
@media only screen and (max-width:480px) {
        table.mj-full-width-mobile {
                width: 100% !important;
        }

        td.mj-full-width-mobile {
                width: auto !important;
        }
}